#mapthree {
  height: 469px;
  width: 1000px
}
.anna-text {
  color: orangered;
  font-family: showcard gothic;
  text-align: center;
  font-size: 350%;
  margin: 0 auto;
}
p {
  border: 5px solid white;
  outline: darkslateblue solid 10px;
  outline-style: inset;
  background-color: deepskyblue;
  margin: auto;
  padding: 6px;
  text-align: center;
}
