#mapF {
  height: 550px;
  width: 800px;
}
.anna-style {
  color: purple;
  font-family: script;
  text-align: center;
  font-size: 350%;
}
.bold-style {
  color: black;
  text-align: center;
  font-size: 200%;
  font-weight: bold;
  font-style: italic;
}
.quiet-style {
  color: black;
  text-align: center;
  font-size: 100%
}
